[submodule "web/public/wcDocker"]
	path = web/public/wcDocker
	url = https://github.com/WebCabin/wcDocker
[submodule "libchaos"]
	path = libchaos
	url = https://znnxs.com/git/libchaos.git
	branch = yap-patches
