[submodule "libchaos"]
	path = libchaos
	url = https://github.com/ChaoticConundrum/libchaos.git
	branch = patches/yap
    
[submodule "web/public/wcDocker"]
	path = web/public/wcDocker
	url = https://github.com/WebCabin/wcDocker

