@minimumWidth: 360px;

html {
    min-width: @minimumWidth;
}
#container {
    display: flex;
    height: 100vh;
}
#pane-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;

    #channels {
        flex: 3;
        display: flex;
        flex-direction: column;
        overflow: auto;

        #channel-chat {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;

            ul {
                overflow: auto;
            }
        }

        #channel-voice {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;

            ul {
                overflow: auto;
            }
        }
    }

    #pane-user {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
}
#pane-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 15px;

    #server-header {
        display: flex;
        flex-direction: column;

        #server-top {
            display: flex;

            #server-left-pane {
                flex: 3;
            }

            #server-right-pane {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }

        #server-bottom {
            display: flex;

            #server-tabs {
                flex: 1;
            }
        }
    }

    #chat {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;

        #chat-top {
            flex: 1;
            display: flex;
            flex-direction: column;
            overflow: auto;

            #chat-text-wrap {
                flex: 1;
                display: flex;
                align-items: flex-end;
            }
        }
    }
}
.faded {
    opacity: 0.5;
}
.faded:hover {
    opacity: 1;
}
.fixed-table {
    width: 100%;
    table-layout: fixed;
}
.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.none {
    display: none;
}
.modal-dialog {
    min-width: @minimumWidth;
}
.space-between {
    display: -webkit-box; /* fallback for apple webkit */
    display: flex;
    justify-content: space-between;
}

// "mobile"
@media (max-width: 768px) {
}

