@minimumWidth: 360px;

html {
    min-width: @minimumWidth;
}

html, body {
    height: 100%;
}

#pane-user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    #pane-user-right {
        display: flex;
        flex-direction: column;
    }
}

#server-header {
    display: flex;
    flex-direction: column;

    #server-top {
        display: flex;
        #server-left-pane {
            flex: 3;
        }

        #server-right-pane {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    #server-bottom {
        display: flex;

        #server-tabs {
            flex: 1;
        }
    }
}

#chat {
    display: flex;
    flex-direction: column;
    height: 100%;

    #chat-top {
        flex: 1;
        overflow: auto;

        #chat-text-wrap {
            display: flex;
            align-items: flex-end;

            #chat-text-container {
                margin-bottom: 15px;
            }
        }
    }
}

.faded {
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}
.fixed-table {
    width: 100%;
    table-layout: fixed;

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.none {
    display: none;
}
.modal-dialog {
    min-width: @minimumWidth;
}
.space-between {
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="text"], input[type="password"] {
    width: 100%;
}

// hack to get my internal scroll bars to work
.wcLayout, .wcLayout tr, .wcLayout td, tbody {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#container {
    // setting this seems to break init height values with wcDocker
    position: relative;
}

// "mobile"
@media (max-width: 768px) {
}

