doctype html
html
    head
        title #{pack.name}
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', href='/img/favicon.png', type='image/x-icon')
        link(rel='shortcut icon', href='/img/favicon.png', type='image/x-icon')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/split-pane/split-pane.css')
        link(rel='stylesheet', href='/css/style.css')
        link#theme(rel='stylesheet')
        script(src='https://code.jquery.com/jquery-2.2.0.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script(src='/split-pane/split-pane.min.js')
        script(src='/js/client.js' async)
    body
        #modal-server-info.modal.fade(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal')
                            span ×
                        h4.modal-title Server information
                    .modal-body
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close

        #modal-server-settings.modal.fade(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal')
                            span ×
                        h4.modal-title Server settings
                    .modal-body
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close

        #modal-server-join.modal.fade(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal')
                            span ×
                        h4.modal-title Join server
                    .modal-body
                        input#server-id.form-control(type='text', placeholder='Server address or url', autofocus)
                        input#server-password.form-control(type='password', placeholder='Server password')
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close
                        button#server-confirm.btn.btn-primary(data-dismiss='modal') Join

        #modal-user-settings.modal.fade(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal')
                            span ×
                        h4.modal-title User settings
                    .modal-body
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close

        #container.split-pane.fixed-left

            #pane-left.split-pane-component
                #channels.split-pane.fixed-top
                    #channel-chat.split-pane-component
                        p Chat channels
                        ul
                    #channel-divider.split-pane-divider
                    #channel-voice.split-pane-component
                        p Voice channels
                        ul
                #pane-user
                    #user-picture
                        p IMG
                    #user-name
                        p User name
                    #user-pane-right
                        #user-mute
                            button#server-info.btn.btn-default(title='Mute microphone')
                                i.fa.fa-fw.fa-microphone
                        #user-deaf
                            button#server-info.btn.btn-default(title='Mute speakers')
                                i.fa.fa-fw.fa-volume-up
                        #user-settings
                            button#server-settings.btn.btn-default(title='Edit user settings', data-toggle='modal', data-target='#modal-user-settings')
                                i.fa.fa-fw.fa-gear

            #divider.split-pane-divider
            #pane-right.split-pane-component
                #server-header
                    #server-top
                        #server-left-pane
                            #server-title
                                p Server title
                            #server-description
                                p Server description
                            #server-icon
                        #server-right-pane
                            button#server-settings.btn.btn-default(title='Edit server settings', data-toggle='modal', data-target='#modal-server-settings')
                                i.fa.fa-fw.fa-gear
                            button#server-info.btn.btn-default(title='View server information', data-toggle='modal', data-target='#modal-server-info')
                                i.fa.fa-fw.fa-info-circle
                            #server-icon
                    #server-bottom
                        ul#server-tabs.nav.nav-tabs
                        button#server-join-btn.btn.btn-default(title='Join a server', data-toggle='modal', data-target='#modal-server-join')
                            i.fa.fa-fw.fa-plus
                #chat
                    #channel-name-current.text-center
                        p Channel name
                    #chat-top
                        #chat-text-wrap
                            #chat-text-container
                    #chat-bottom
                        input#chat-box-input.form-control(type='text', placeholder='Enter text for <channel name>')
