doctype html
html
    head
        title #{pack.name}
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon', href='/img/favicon.png', type='image/x-icon')
        link(rel='shortcut icon', href='/img/favicon.png', type='image/x-icon')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/style.css')
        link#theme(rel='stylesheet')
        script(src='https://code.jquery.com/jquery-2.2.0.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script(src='/js/client.js' async)
    body
        #modal-server-info.modal.fade(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal')
                            span ×
                        h4.modal-title Server information
                    .modal-body
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close

        #modal-server-settings.modal.fade(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal')
                            span ×
                        h4.modal-title Server settings
                    .modal-body
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close

        #modal-user-settings.modal.fade(tabindex='-1')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(data-dismiss='modal')
                            span ×
                        h4.modal-title User settings
                    .modal-body
                    .modal-footer
                        button.btn.btn-default(data-dismiss='modal') Close

        #container

            #pane-left
                #channels
                    #channel-chat
                        p Chat channels
                        ul
                            li: a(href='#', data-id='c1') chat channel 1
                            li: a(href='#', data-id='c2') chat channel 2
                    #channel-voice
                        p Voice channels
                        ul
                            li: a(href='#', data-id='v1') voice channel 1
                            li: a(href='#', data-id='v2') voice channel 2
                #pane-user
                    #user-picture
                    #user-name
                        p User name
                    #user-pane-right
                        #user-mute
                            button#server-info.btn.btn-default(title='Mute microphone')
                                i.fa.fa-fw.fa-microphone
                        #user-deaf
                            button#server-info.btn.btn-default(title='Mute speakers')
                                i.fa.fa-fw.fa-volume-up
                        #user-settings
                            button#server-settings.btn.btn-default(title='Edit user settings', data-toggle='modal', data-target='#modal-user-settings')
                                i.fa.fa-fw.fa-gear

            #pane-right
                #server-header
                    #server-top
                        #server-left-pane
                            #server-title
                                p Server title
                            #server-description
                                p Server description
                            #server-icon
                        #server-right-pane
                            button#server-settings.btn.btn-default(title='Edit server settings', data-toggle='modal', data-target='#modal-server-settings')
                                i.fa.fa-fw.fa-gear
                            button#server-info.btn.btn-default(title='View server information', data-toggle='modal', data-target='#modal-server-info')
                                i.fa.fa-fw.fa-info-circle
                            #server-icon
                    #server-bottom
                        ul#server-tabs.nav.nav-tabs
                            li.active: a(href='#', data-id='s1') Server 1
                            li: a(href='#', data-id='s2') Server 2
                #chat
                    #chat-text
                        #channel-name-current.text-center
                            p Channel name
                    #chat-box
                        input#chat-box-input.form-control(type='text', placeholder='Enter text for <channel name>')
